* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

@font-face {
  font-family: Recoleta;
  src: url("../font/Recoleta-Semibold.ttf");
}
.header {
  background-color: #163A24;
}
.header-nav {
  padding: 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-contact {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-login {
  background-color: transparent;
  color: #FBFAF7;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header-tel {
  color: #FBFAF7;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
}
.header-start {
  width: 140px;
  height: 52px;
  background-color: #198C36;
  border: none;
  color: #FBFAF7;
  border-radius: 160px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.header-main {
  display: flex;
  align-items: center;
}
.header-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #FBFAF7;
}
.header-sub_title {
  color: #FBFAF7;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

.career {
  padding: 120px 0;
}
.career-container {
  max-width: 980px;
  margin: 0 auto;
}
.career-hr {
  display: flex;
  align-items: center;
  gap: 100px;
}
.career-play {
  display: flex;
  align-items: center;
  gap: 100px;
}
.career-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #163A24;
  line-height: 54px;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 65px;
}
.career-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #163A24;
  line-height: 54px;
}
.hr-title_sub {
  color: #163A24;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.play-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #163A24;
  line-height: 54px;
}
.play-title_sub {
  color: #163A24;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.product {
  padding: 66px 0 120px 0;
  background-color: #163A24;
}
.product-container {
  max-width: 1070px;
  margin: 0 auto;
}
.product-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #FBFAF7;
  line-height: 54px;
  text-align: center;
  margin-bottom: 67px;
}
.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.product-text {
  color: #FBFAF7;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.activities {
  padding: 115px 0 135px 0;
  background-color: #F2EFE6;
}
.activities-container {
  max-width: 1180px;
  margin: 0 auto;
}
.activities-title {
  font-family: "Recoleta", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #163A24;
  line-height: 54px;
  text-align: center;
  margin-bottom: 25px;
}
.activities-title_sub {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
  margin-bottom: 16px;
}/*# sourceMappingURL=style.css.map */