.together
    padding: 180px 0 120px 0
    &-info
        display: flex
        align-items: center
        padding: 0 100px
    &-text
        margin-right: 100px
        &-title
            font-family: "Recoleta", sans-serif
            font-weight: 600
            font-size: 48px
            color: #163A24
            line-height: 54px
            &_sub
                color: #163A24
                font-family: "Noto Sans", sans-serif
                font-weight: 400
                font-size: 18px
                line-height: 27px
    &-title
        font-family: "Recoleta", sans-serif
        font-weight: 600
        font-size: 48px
        color: #163A24
        line-height: 54px
        text-align: center
        margin-top: 115px
        margin-bottom: 25px
        &_sub
            color: #163A24
            font-family: "Noto Sans", sans-serif
            font-weight: 400
            font-size: 18px
            line-height: 27px
            text-align: center
    &-review
        margin-top: 18px
        display: flex
        justify-content: space-between
        margin-bottom: 120px
        &_item
            max-width: 353px
            background-color: #FBFAF7
            padding: 50px 40px 65px 40px
            box-shadow: 5px 5px 20px 0px rgba(233, 228, 213, 1)
.review
    &-title
        font-family: "Recoleta", sans-serif
        font-weight: 600
        font-size: 28px
        color: #163A24
        line-height: 31.5px
    &-list
        display: flex
        flex-direction: column
        gap: 15px
        color: #163A24
        font-family: "Noto Sans", sans-serif
        font-weight: 400
        font-size: 16px
        line-height: 21.79px
        padding-left: 20px
.second
    margin-bottom: -37px
